BODY, TD.NORMAL, P, UI, LI 
{
   font-weight: 500;
   font-size: 10pt;
   font-family: Verdana, Arial, Helvetica, Sans-serif;
}

blockquote {
  padding: 24px;
}

blockquote div {
  padding: 0 48px;  
}

P { margin-left: 0.7em;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 1em;
  }
  
  
  H2 {
    font-family: Veranda, Arial, "advanta", "arial black", "arial bold", Verdana, "impact",  Helvetica, Sans-serif;
    font-size: 15pt;
    font-weight:bold;
    text-align: LEFT;
    border-top: 4px groove #DF3366;
    border-bottom: 4px groove #DF3366;
    margin-top: 2pt; 
    margin-bottom: 4pt;
    margin-left: 4pt;
    margin-right: 4pt;
    padding-top: 1px;
    padding-bottom: 1px;
    lcolor: #6F6F6F;    
}


H3 {font-family: Veranda, Arial, advanta, "arial black", impact;
    font-size: 16;
    margin-top: 12px;
    margin-bottom: 1px;
    border-top: 0px;
    border-bottom: 1px;
    padding-top: 0px;
    padding-bottom: 2px;
    line-height: 16px;
    color: #AFAFAF; }

H4{
  font-family: Verdana, Helvetica, Arial, Sans-serif;
	color:  #A6A666;
  font-weight: bold;
  font-size: 12pt;
	text-decoration: none;
  margin-top: 12px;
  margin-bottom: 1px;
}


H5 {font-family: Veranda, "Arial Black", Arial;
    font-size: 16;
    margin-top: 2px;
    margin-bottom: 1px;
    border-top: 0px;
    border-bottom: 1px;
    padding-top: 0px;
    padding-bottom: 2px;
    line-height: 14px;}
    
    TABLE {
  padding: 1px;
  vertical-align: top;
  border: 0px;
}




OL {
	font-size: 9pt;
}

LI {
  margin-top: 3pt;
}

H5{
  margin-left: 40%;
  text-align:right;
  color:rgb(225,240,200);
  font-size:1.52em;
  font-family:arial black;
  /*border:1px solid red;*/
  outline:green dotted thick;
  margin-top: 1pt; 
  margin-bottom: 8pt;
  padding-top: 1pt;
  padding-bottom: 1pt;
  padding-right: 1em;
}


D.callout{
   font-family: "arial-baltic", "arial", "veranda";
   font-size: 10pt;
   background:#440000;
   color: #DDff22;
   vertical-align: top;
   text-align: left;
   margin-top: 5px;
   margin-bottom: 5px;
   
   }



P.callout_head{
   font-weight: bold;
   font-size: 11pt;
   border-bottom: 1px solid #A5B5C6;
 	MARGIN-TOP: 1px;
  MARGIN-BOTTOM: 5px;

}

p.btext{
  margin-top: 0px;
  margin-bottom:11px;
  border-top: 0px;
  border-bottom: 1px;
  padding-top: 0px;
  padding-bottom: 2px;
  FONT-WEIGHT: normal;
  FONT-SIZE:   13px;
}


p.green_head{
  margin-top: 15px;
  margin-bottom: 0px;
  border-top: 0px;
  border-bottom: 1px;
  padding-top: 0px;
  padding-bottom: 2px;
  FONT-WEIGHT: normal;
  FONT-SIZE:   22px;
  font-family: "VagaBond", "arial black", "impact";
  COLOR: #66cc66;
  text-align: center;
}


p.sourcecode
{
  FONT-WEIGHT: normal;
  FONT-SIZE:   10px;
  font-family: "Terminal", "Impact", "VagaBond", "arial black";
  COLOR: #22cc66;  
  padding-left: 10pt;
}



.sidenav {
	FONT-WEIGHT: 600; 
	FONT-SIZE:	9pt; 
	COLOR: #FFFFFF; 
	LINE-HEIGHT: 18px; 
	FONT-FAMILY: Verdana, Helvetica, Arial, Sans-serif;
	TEXT-DECORATION: none;
	MARGIN-TOP: 1px;
    MARGIN-BOTTOM: 1px;
    padding: 2px;
}
A.sidenav:visited {	COLOR: #FFFFFF;  }
A.sidenav:active {color: #FFFFFF;}
A.sidenav:link {color: #FFFFFF;}
A.sidenav:hover{color: #FFFFBB; TEXT-DECORATION:underline; background:#333344; }


A.linkL1 {
    font-family: Verdana, Helvetica, Arial, Sans-serif;
	color: #030507;
    font-weight: bold;
    font-size: 12pt;
	text-decoration: underline;
}
A.linkL1:visited {color: #030500;}
A.linkL1:hover {font-size: 14pt; color: #660066;}

A.linkL2 {
    font-family: Verdana, Helvetica, Arial, Sans-serif;
	color: #336699;
    font-weight: bold;
    font-size: 10pt;
	text-decoration: none;
}
A.linkL2:visited {color: #336699;}
A.linkL2:hover{font-size: 13pt; color: #6600AA; text-decoration: underline;}

A.linkL3 {
    font-family: Verdana, Helvetica, Arial, Sans-serif;
	color: #336699;
    font-weight: bold;
    font-size: 9pt;
	text-decoration: none;
}
A.linkL3:visited {color: #336699;}
A.linkL3:hover{color: #6600AA; text-decoration: underline;}


A.linkL4 {
    font-family: Verdana, Helvetica, Arial, Sans-serif;
	color: #336699;
    font-weight: bold;
    font-size: 8pt;
	text-decoration: none;
}
A.linkL4:visited {color: #660066;}


A.linkL5 {
    font-family: Verdana, Helvetica, Arial, Sans-serif;
	color: #336699;
    font-weight: nomal;
    font-size: 8pt;
	text-decoration: none;
}
A.linkL5:visited {color: #660066;}

